p{
    font-size: 20px;
    color:red;
    
}

h1{
    font-size: 24px;
    color:green;

}

.parrafo{
    font-size:22px;
    color:green;
    font-weight: bold;
    text-align: center;
    font-family: 'Reenie Beanie', cursive;

}


